extends layout

block content
  h1= title
  - let cars = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:yellow; color:red;font-size:20px;font-family:calibri;") 
            tr
                td car ID
                td car manufacturer 
                td car model
                td car cost 
                td Update
        tbody 
            each car in cars
                - let destination = `dispatch(\"/car/update?id=${car._id}\")`
                tr
                    td #{car._id}
                    td #{car.manufacturer}
                    td #{car.model}
                    td #{car.cost}
                    td
                      button.btn( class="btn-primary ml-1", onclick= destination) Update
                script.
                    function dispatch(path){
                      window.location.href=path
                    }